<div class="jumbotron">
<div class="row ">
    <div class="col-lg-10 col-xs-offset-1">
        <h1>Get more done. Get pizza.</h1>
        <p>Motivational Pizza is a <strong>radically new</strong> life organiser, being built <i>right now</i> by <a href="https://twitter.com/wardrox">a guy</a> who wants a task tracker that's simple, lean, fast, and thinks like him.</p>
        <ul>
        	<li>Add tasks via <strong>SMS text message</strong>.</li>
        	<li><strong>Tag</strong> and filter your tasks to easily find them.</li>
        	<li>Task too big? <strong>Split</strong> it up easily and simply.</li>
            <li>Prioritise your life with <strong>a few things</strong> to do at a time.</li>
        	<li><strong>New features</strong> being added to the site daily, and prioritised by you, the people using it.</li>
        	<li>You can (and should!) contact the guy building the site and <strong>influence</strong> its very being.</li>
        </ul>
        <p>It's free to sign up. You can play around with the site right now on the communal account. Just scroll down!</p>

    </div>
    <div class="col-md-6 col-md-offset-3">
        <p><a href="/signup" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-user"></span> Create a free Account</a></p>
    </div>  
</div>
</div>