			
			<hr />
			<div class="row footer-row">
				<div class="col-md-9  hidden-xs">
					<p>
						<small>
							<span>
								Motivational Pizza built by John / Sausage, written in <a href="http://nodejs.org/">node.js</a>, hosted on <a href="https://www.heroku.com/">Heroku</a>, made pretty with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://glyphicons.com/">Glyphicons</a>.
							</span>
						</small>
					</p>
				</div>
				<div class="col-md-3">
					<p>
						<small>
							<span style="float:right;">
								Action always generates inspiration
							</span>
						</small>
					</p>
				</div>
			</div>
		</div>

		<script>
			$(".alert").alert();

			$(".delete-task").on("click", function(){
				$(this).siblings(".delete-confirmation").show();
				$(this).hide();
			});

			$(".delete-task-no").on("click", function(){
				$(this).parent().siblings().show();
				$(this).parent().hide();
			});

			function listenForClicks(){

				$(".more-task-options").on("click", function(){
					
					var taskId = $(this).data('task-id');

					$('.more-options[data-task-id="' + taskId + '"]').show();

					$('.more-task-options[data-task-id="' + taskId + '"]').hide();
					$('.less-task-options[data-task-id="' + taskId + '"]').show();


					$('.task-text[data-task-id="' + taskId + '"]').show();
					$('.task-text[data-task-id="' + taskId + '"]').addClass("less-task-options");
					$('.task-text[data-task-id="' + taskId + '"]').removeClass("more-task-options");
					listenForClicks();
				});

				$(".less-task-options").on("click", function(){

					var taskId = $(this).data('task-id');
					
					$('.more-options[data-task-id="' + taskId + '"]').hide();

					$('.more-task-options[data-task-id="' + taskId + '"]').show();
					$('.less-task-options[data-task-id="' + taskId + '"]').hide();

					$('.task-text[data-task-id="' + taskId + '"]').show();
					$('.task-text[data-task-id="' + taskId + '"]').removeClass("less-task-options");
					$('.task-text[data-task-id="' + taskId + '"]').addClass("more-task-options");
					listenForClicks();
				});
			}

			listenForClicks();


		</script>

	</body>
</html>