<!DOCTYPE html>
<html>
	<head>
		<title>
			Motivational Pizza
		</title>
		
		<meta property="og:title" content="Motivational Pizza" />

		<meta name="description" content="Motivational Pizza - To Do, Simply">
		<meta property="og:description" content="Motivational Pizza - To Do, Simply" />

		<script src="/js/jquery-1.10.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<style>
			body {
				background-image: url('/img/pizza_basic2.png');
			}

			a {
				cursor:pointer;
			}

			h1 {
				text-align: center;
			}

			body { 
				margin-top: 1em;
			}

			.task-done h3 {
				text-decoration: line-through;
				color: #999;
			}

			.delete-confirmation {
				display: none;
				color: red;
			}
		</style>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-431964-22', 'motivationalpizza.com');
		  ga('send', 'pageview');

		</script>

	</head>
	<body>
		<div class="container">

			<p style="text-align: right">

				<% if (user) { %>
					<span id="logged-in">
						You are logged in as <strong><%=user.username%></strong>. 
					</span>

					<a href="/logout" id='log-out'> Logout</a>
					
				<% } else { %>
					
					<a href="/signup" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-user"></span> Create an Account</a>

					<a href="/login" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				<% } %>
			</p>

			<h1>
				<a href='/'>Motivational Pizza</a><br />
				<small>The best pizza-themed To Do list in the universe</small>
			</h1>
			