<!DOCTYPE html>
<html>
	<head>
		<title>
			Motivational Pizza
		</title>
		
		<meta property="og:title" content="Motivational Pizza" />

		<meta name="description" content="Motivational Pizza - To Do, Simply">
		<meta property="og:description" content="Motivational Pizza - To Do, Simply" />

		<script src="/js/jquery-1.10.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<style>
			body {
				background-color: #FFFFFF;
			}

			a {
				cursor:pointer;
			}

			h1 {
				text-align: center;
			}

			.task-done h3 {
				text-decoration: line-through;
				color: #999;
			}

			.delete-confirmation {
				display: none;
				color: red;
			}
		</style>

	</head>
	<body>
		<div class="container">
			<h1>
				<a href='/'>Motivational Pizza</a><br />
				<small>The best pizza-themed To Do list in the universe</small>
			</h1>
			<% if (user) { %>
			<p id="logged-in">
				You are logged in as <%=user.username%>
			</p>
			<% } %>