
		</div>

		<script>
			$(".alert").alert();

			$(".delete-task").on("click", function(){
				$(this).siblings(".delete-confirmation").show();
				$(this).hide();
			});

			$(".delete-task-no").on("click", function(){
				$(this).parent().siblings().show();
				$(this).parent().hide();
			});

			$(".more-task-options").on("click", function(){
				
				var taskId = $(this).data('task-id');

				$('.more-options[data-task-id="' + taskId + '"]').show();

				$('.more-task-options[data-task-id="' + taskId + '"]').hide();
				$('.less-task-options[data-task-id="' + taskId + '"]').show();
			});

			$(".less-task-options").on("click", function(){

				var taskId = $(this).data('task-id');
				
				$('.more-options[data-task-id="' + taskId + '"]').hide();

				$('.more-task-options[data-task-id="' + taskId + '"]').show();
				$('.less-task-options[data-task-id="' + taskId + '"]').hide();
			});


		</script>

	</body>
</html>