<% include components/pageHeader %>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<% include home-page/info-box %>

			<% include home-page/tasks-today %>

			
			<p class="add-new-task-button">
				<% if (openTasks.length >= 5) { %>
					<a class="btn btn-success btn-lg btn-block disabled" href="/NewTask" role="button">Add New Task</a>
				<% } else { %>
					<a class="btn btn-success btn-lg btn-block" href="/NewTask" role="button">Add New Task</a>
				<% } %>
			</p>

		</div>
	</div>

	<div class="row">
	  <div class="col-md-6">

	  	<% include home-page/tasks-tomorrow %>

		<% include home-page/tasks-some-other-time %>

	</div>
	<div class="col-md-6">

	  	<% include home-page/tasks-done %>
		
	</div>
</div>

<% include components/pageFooter %>