<% include components/pageHeader %>

<% if (!user) { %>

	<% include components/not-logged-in-info %>

<% } else { %>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			Logged in, Home Page

		</div>
	</div>
<% } %>
</div>

<% include components/pageFooter %>