<% include components/pageHeader %>

<div class="row">

	<div class="col-md-4">
		<h2>September's Goals</h2>
		<a href="#" class="btn btn-primary btn-block" role="button"><span class="glyphicon glyphicon-unchecked"></span> Regular Excercise</a>
		<a href="#" class="btn btn-warning btn-block" role="button"><span class="glyphicon glyphicon-check"></span> Make significant headway on Creeds Direct</a>
		<a href="#" class="btn btn-warning btn-block" role="button"><span class="glyphicon glyphicon-check"></span> Complete Get To The Front work</a>
		<a href="#" class="btn btn-success btn-block" role="button"><span class="glyphicon glyphicon-unchecked"></span> Maintain Healthy Diet</a>
	</div>

	<div class="col-md-4">
		<h2>Weekly Goals</h2>
		<a href="#" class="btn btn-primary btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> Cardio twice a week <span class="badge">2</span></a>
		<a href="#" class="btn btn-primary btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> Weight training once a week</a>
		<a href="#" class="btn btn-warning btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> Deployment plan</a>
		<a href="#" class="btn btn-warning btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> Basic code structure</a>
		<a href="#" class="btn btn-default btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> 1 day on GTTF</a>
		<a href="#" class="btn btn-success btn-default btn-block btn-sm" role="button"><span class="glyphicon glyphicon-unchecked"></span> Eat less than 2300 kCals every day <span class="badge">7</span></a>

		<a href="#" class="btn btn-default btn-block btn-sm" role="button"><span class="glyphicon glyphicon-check"></span> Update RDTOM App</a>
	</div>

	<div class="col-md-4">
		<h2>Today's Goals</h2>

		<ul class="list-group" id="dailyGoals">
			<li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-unchecked"></span> Build a rocket ship</li>
			<li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-unchecked"></span> Cras sit amet nibh libero</li>
			<li class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-unchecked"></span> Porta ac consectetur ac</li>
			<li class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-unchecked"></span> Vestibulum at eros</li>
			<li class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-unchecked"></span> Vestibulum at eros</li>

			<li class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-check"></span> Vestibulum at eros</li>
			<li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-check"></span> Cras sit amet nibh libero</li>

		</ul>

		<hr>

		<form role="form" action='/newGoalForToday' method='POST'>
			<p>
				<input type="text" class="form-control" name="newDailyGoalName" id="newDailyGoalName" placeholder="New goal">
			</p>
			<p>
				<label class="radio-inline">
					<input type="radio" name="newDailyTaskColour" id="dailyTaskColourGreen" value="none" checked> None
				</label>
				<label class="radio-inline">
					<input type="radio" name="newDailyTaskColour" id="dailyTaskColourRed" value="red"> Red
				</label>
				<label class="radio-inline">
					<input type="radio" name="newDailyTaskColour" id="dailyTaskColourBlue" value="blue"> Blue
				</label>
				<label class="radio-inline">
					<input type="radio" name="newDailyTaskColour" id="dailyTaskColourGreen" value="green"> Green
				</label>
				<label class="radio-inline">
					<input type="radio" name="newDailyTaskColour" id="dailyTaskColourGreen" value="orange"> Orange
				</label>
			</p>
			<p>
				Repetition
			</p>
			<p>
				Quantity
			</p>
			<p>
				<button type="submit" class="btn btn-default btn-xs" id="newDailyGoalSubmit"><span class="glyphicon glyphicon-plus"></span> Add New Task</button>
			</p>
		</form>


	</div>
</div>
<% include components/pageFooter %>