<% include components/pageHeader %>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<% include home-page/info-box %>

			<% include home-page/tasks-today %>

		</div>
	</div>

	<div class="row">
	  <div class="col-md-6">

	  	<% include home-page/tasks-tomorrow %>

		<% include home-page/tasks-some-other-time %>

	</div>
	<div class="col-md-6">

	  	<% include home-page/tasks-done %>
		
	</div>
</div>

<% include components/pageFooter %>