<% include components/pageHeader %>

	<% if (info=="task-added") { %>
		
		<div id="info-box" class="alert alert-success">
			Your new task has been added.
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		</div>

	<% } %>

	<% if (tasks.length > 0) { %>

		<% for (var i = 0; i < tasks.length; i++) { %>
			<p class='task'><%=tasks[i].text%></p>
		<% } %>

	<% } else { %>

		<p id="no-current-tasks">
			You have no current tasks.
		</p>

	<% } %>

	<p>
		<a class="btn btn-success" href="/NewTask" role="button">Add New Task</a>
	</p>

<% include components/pageFooter %>