<% include components/pageHeader %>

	<p id="no-current-tasks">
		You have no current tasks.
	</p>
	<p>
		<a class="btn btn-success" href="/NewTask" role="button">Add New Task</a>
	</p>

<% include components/pageFooter %>