<% include components/pageHeader %>

	<div class="col-sm-6 col-sm-offset-3">
		<p id="enter-task-instructions">
			Enter your new task details
		</p>

		<form action='/NewTask' method="POST">

			<div class="form-group">
				<input type="text" class="form-control" id='task-text' name='task-text' placeholder="Build a rocket ship..." required autofocus> 
			</div>

			<div class="form-group">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">Tags</span>
					<input type="text" class="form-control" id='task-tags' name='task-tags' placeholder="space, rocket ship"> 
				</div>
			</div>

			<% if(commonTags.length > 0) {%>
				<p>Existing tags: 
					<% for (var tag_i = 0; tag_i < commonTags.length; tag_i ++) { %>
						<% if (tag_i > 0) { %>, <%}%><span class="tag"><%=commonTags[tag_i].text%></span>
					<%}%>
				</p>
			<%}%>

			<div class="form-group">
				<button type="submit" class="btn btn-default">Add Task</button>
			</div>
		</form>
	</div>
	


<% include components/pageFooter %>