<% include components/pageHeader %>

	<p id="enter-task-instructions">
		Enter your new task details
	</p>

	<p>
		<form action='/SaveTask' method="POST">
			<input type="text" class="form-control" placeholder="Text input" id='task'> 
			<button type="button" class="btn btn-success">Add Task</button>
		</form>
	</p>


<% include components/pageFooter %>