<% include components/pageHeader %>

	<p id="enter-task-instructions">
		Enter your new task details
	</p>

	
	<form action='/NewTask' method="POST">
		<p>
			<input type="text" class="form-control" placeholder="Build a rocket ship..." id='task' required> 
		</p>

		<p>
			<button type="submit" class="btn btn-success">Add Task</button>
		</p>
	</form>
	


<% include components/pageFooter %>