<% include components/pageHeader %>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3 id="edit-profile-instructions">
				Edit your profile
			</h3>

			<form action='/profile' method="POST">

				<p><strong>User name:</strong></p>

				<div class="form-group">
					<input type="text" class="form-control" id='profile-username' name='profile-username' value="<%=user.username%>" disabled > 
				</div>

				<p><strong>(UK only) Phone number:</strong></p>

				<p><small>If your number starts with 0 (eg <strong>07</strong>9 123 ... ), the 0 is replaced with +44 (eg <strong>+447</strong>9 123 ... )</small></p>

				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">+44</span>
						<input type="text" class="form-control" id='profile-phonenumber' name='profile-phonenumber' value="<% if (typeof user.phoneNumber != "undefined") {%><%=user.phoneNumber%><%}%>" placeholder="9876543210"> 
					</div>
				</div>


				<div class="form-group">
					<button type="submit" class="btn btn-default">Save Profile</button>
				</div>
			</form>
		</div>
	</div>
	
<% include components/pageFooter %>