<% include components/pageHeader %>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3 id="edit-profile-instructions">
				Edit your profile
			</h3>

			<form action='/profile' method="POST">

				<p><strong>User name:</strong></p>

				<div class="form-group">
					<input type="text" class="form-control" id='profile-username' name='profile-username' value="<%=user.username%>" disabled > 
				</div>

				<p><strong>Maximum number of simultaneous tasks for today:</strong></p>

				<p><small>You'll find you get more done the smaller this number is.</small></p>

				<div class="form-group">
					<input type="number" class="form-control" id='profile-maxtodaytaskcount' name='profile-maxtodaytaskcount' value="<% if (typeof user.maxTodayTaskCount != "undefined") {%><%=user.maxTodayTaskCount%><%} else {%>5<%}%>"> 

				</div>

				<p><strong>(UK only) Phone number:</strong></p>

				<p><small>Drop the 0 at the start of your number (it's replaced with the +44)</small></p>

				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">+44</span>
						<input type="text" class="form-control" id='profile-phonenumber' name='profile-phonenumber' value="<% if (typeof user.phoneNumber != "undefined") {%><%=user.phoneNumber%><%}%>" placeholder="9876543210"> 
					</div>
				</div>

				<p>Once you've saved your phone number, you can text your tasks to <strong>+44 1206 704037</strong>. If there's no room on your Today list, the task will go on your Tomorrow list.</p>


				<div class="form-group">
					<button type="submit" class="btn btn-default">Save Profile</button>
				</div>
			</form>
		</div>
	</div>
	
<% include components/pageFooter %>