<a class="btn btn-default delete-task btn-xs" role="button"><span class="glyphicon glyphicon-trash"></span></a>

<span class="delete-confirmation">Are you sure you want to <strong>delete</strong> this task? <a href="/DeleteTask/<%=task._id%>" class="delete-task-yes">Yes</a> / <a class="delete-task-no">No</a></span>