<% if (infoBox) { %>

	<div id="info-box" class="alert <%=infoBox.class%> fade in" data-dismiss="alert" aria-hidden="true">
		<%=infoBox.text%>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>

<% } %>

<% if (todayIsfull) { %>

	<div class="alert alert-warning">
		<p>
			You have plenty to do today. Before you add more tasks to today you should complete one or mark one as due another day. Remember; <strong>if something is important it'll come back</strong>.
		</p>
	</div>

<% } %>