<% if (infoBox) { %>

	<div id="info-box" class="alert <%=infoBox.class%> fade in" data-dismiss="alert" aria-hidden="true">
		<%=infoBox.text%>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>

<% } %>