<h3>
	<%-task.text%>
</h3>

<% if (task.tags && task.tags.length > 0) { %>

	<small>
		<% for (var tag_i = 0; tag_i < task.tags.length; tag_i ++) { %><% if (tag_i > 0) { %>, <%}%><span class="tag"><%=task.tags[tag_i].text%></span><%}%>
	</small>

<%}%>

<p>
	<% include buttons/done %>

	<% include buttons/more %>

	<span class='more-options' data-task-id="<%=task._id%>">

		<% include buttons/less %>

		<% include buttons/edit %>

		<% include buttons/tomorrow %>
		
		<% include buttons/some-other-time %>

		<% include buttons/split %>

		<% include buttons/bump %>

		<% include buttons/delete %>
	</span>

</p>