<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Some Other Time</h3>
		  </div>
		  <div class="panel-body">

				<% for (var i = 0; i < notTodayTasks.length; i++) { %>
					<div class='task task-not-today' data-i="<%=i%>" data-task-id='<%=notTodayTasks[i]._id%>'>
						<h3>
							<%-notTodayTasks[i].text%>
						</h3>
						<% if (notTodayTasks[i].tags && notTodayTasks[i].tags.length > 0) { %>

							<p><small> Tags: 
								<% for (var tag_i = 0; tag_i < notTodayTasks[i].tags.length; tag_i ++) { %><% if (tag_i > 0) { %>, <%}%><span class="tag"><%=notTodayTasks[i].tags[tag_i].text%></span><%}%>
							</small></p>

						<%}%>
						<% 	include task-buttons-some-other-time %>
					</div>
				<% } %>

				<% if (notTodayTasks.length == 0) { %>
					<p>Nothing here.</p>
				<% } %>
		  </div>
		</div>