<div class="jumbotron">

	<% if (openTasks.length > 0) { %>

		<% openTasks.forEach(function(task, i){ %>
			<div class='task task-open' data-i="<%=i%>" data-task-id='<%=task._id%>'>
				
				<% 	include task-open %>

			</div>
		<% }) %>

	<% } else { %>

		<h2 id="no-current-tasks">
			<% if (pizzaForDinner) { %>
				Hurray! You've done everything you need to today. Pizza for dinner!
			<% } else { %>
				Oh sweet, you currently have no tasks to do.
			<% } %>
		</h2>

	<% } %>

</div>
