<p>
	<span class="task-text more-task-options" data-task-id="<%=task._id%>"><%-task.text%></span>

</p>

<p class='more-options' data-task-id="<%=task._id%>">

	<span class='more-options' data-task-id="<%=task._id%>">

		<% include buttons/less %>

	</span>

	<% include buttons/edit %>
	
	<% include buttons/today %>

	<% include buttons/tomorrow %>

	<% include buttons/some-other-time %>

	<% include buttons/delete %>
</p>