<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Some Other Time</h3>
  </div>
  <div class="panel-body">

		<% notTodayTasks.forEach(function(task, i){ %>
			<div class='task task-not-today' data-i="<%=i%>" data-task-id='<%=task._id%>'>
				<% 	include task-todo %>
			</div>
		<% }) %>

		<% if (notTodayTasks.length == 0) { %>
			<p>Nothing here.</p>
		<% } %>
  </div>
</div>