<h3>
	<%-task.text%>
</h3>

<% if (task.tags && task.tags.length > 0) { %>

	<p><small> Tags: 
		<% for (var tag_i = 0; tag_i < task.tags.length; tag_i ++) { %><% if (tag_i > 0) { %>, <%}%><span class="tag"><%=task.tags[tag_i].text%></span><%}%>
	</small></p>

<%}%>

<p>
	
	<% include buttons/today %>

	<% include buttons/edit %>

	<a class="btn btn-default more-task-options btn-xs" role="button"> <span class="glyphicon glyphicon glyphicon-plus"></span></a>

	<span class='more-options'>

		<a class="btn btn-default less-task-options btn-xs" role="button"> <span class="glyphicon glyphicon glyphicon-minus"></span></a>

		<% if (task.status == 'tomorrow') { %>
		
			<% include buttons/some-other-time %>

		<% } else { %>

			<% include buttons/tomorrow %>

		<% } %>

		<% include buttons/bump %>

		<% include buttons/delete %>

	</span>
</p>