<p>
	<span class="task-text"><%-task.text%></span>

	<a class="btn btn-default more-task-options btn-xs" role="button"> <span class="glyphicon glyphicon glyphicon-plus"></span></a>

	<span class='more-options'>

		<a class="btn btn-default less-task-options btn-xs" role="button"> <span class="glyphicon glyphicon glyphicon-minus"></span></a>


		<% include buttons/edit %>

		<% include buttons/some-other-time %>

		<% include buttons/delete %>
	</span>
</p>
