<% if (tomorrowTasks.length > 0) { %>
	
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h2 class="panel-title">Tomorrow
		<a class="btn btn-default btn-xs pull-right" href="/AllTomorrowTasksAsToday" role="button" id='make-tomorrow-today'> <span class="glyphicon glyphicon glyphicon-arrow-up"></span> Move all to Today</a>
	    </h2>

	  </div>
	  <div class="panel-body">

			<% tomorrowTasks.forEach(function(task, i){ %>
				<div class='task task-tomorrow' data-i="<%=i%>" data-task-id='<%=task._id%>'>
					<h3>
						<%-task.text%>
					</h3>
					<% if (task.tags && task.tags.length > 0) { %>

						<p><small> Tags: 
							<% for (var tag_i = 0; tag_i < task.tags.length; tag_i ++) { %><% if (tag_i > 0) { %>, <%}%><span class="tag"><%=task.tags[tag_i].text%></span><%}%>
						</small></p>

					<%}%>
					<% 	include task-buttons-tomorrow %>
				</div>
			<% }) %>
	  </div>
	</div>

<% } %>