<% if (doneTodayTasks.length > 0) { %>

	<hr>

	<% doneTodayTasks.forEach(function(task, i){  %>
		<div class='task task-done' data-i="<%=i%>" data-task-id='<%=task._id%>'>
			<% 	include task-done %>
		</div>
	<% }) %>

<% } %>