<p>
	<span class="task-text"><%-task.text%></span>

	<% include buttons/more %>

	<span class='more-options'>

		<% include buttons/less %>

		<% include buttons/edit %>
		
		<% include buttons/today %>

		<% include buttons/tomorrow %>

		<% include buttons/some-other-time %>

		<% include buttons/delete %>
	</span>
</p>
